/* Applies only to extra large screens */
@media (min-width: 600px) {
  body {
    font-size: 1.125rem; /* Slightly bigger base text */
  }

  header {
    padding: 1.5rem 4rem;
  }

  header img {
    max-height: 65px;
  }

  .navigation {
    gap: 3rem;
    font-size: 1.1rem;
  }

  /* Hero section */
  /* .hero {
    padding: 4rem 6rem;
  } */

  /* .hero img {
    max-width: 1000px;
  } */


  .hero h1 {
    font-size: 3.2rem;
  }

  .hero p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
  }

  /* About section */
  .about-section {
    gap: 3rem;
    padding: 4rem 6rem;
    display: grid;
    grid-template-columns: 1fr;
  }

  .about-section img {
    max-width: 500px;
    border-radius: 12px;
  }

  .about-text h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }

  .about-text p {
    font-size: 1.1rem;
  }

  /* Gallery preview */
  .gallery-preview,
  .contact-preview {
    padding: 4rem 6rem;
  }

  .gallery-preview img {
    max-width: 800px;
  }

  /* Footer */
  footer {
    padding: 2rem;
    font-size: 1rem;
  }
}
