@media only screen and (min-width: 38rem) {
    .place-card {

        grid-template-areas:
        "figure title"
        "figure description"
        "figure address"
        "button button";
    }

    .place-image {
        width: 300px;
        height: 215px;
        object-fit: cover;
        display: block;
        
    }

    .place-image:hover {
        filter: blur(1px) grayscale(50%);
    }
}