@media only screen and (min-width: 38rem) {

    .form-member {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .membership-card {
        margin: 1rem 0.5rem;
        padding: 1rem;
    }

}