* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-body: 'Lato', sans-serif;
    --font-heading: 'Playfair Display', serif;
    --primary-color: #F94E98;
    --secondary-color:  #FFFFFF;
    --text-color: #000000;
}

body {
    font-family: var(--font-body);
    line-height: 1.6;
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 1rem;
}

/* Headings use heading font */
h1 {font-family: var(--font-heading);
    color: var(--text-color);
    font-size: larger;
}

h2, h3, h4, h5, h6, header {
    font-family: var(--font-heading);
    color: var(--text-color);
    font-size: larger;
}

/* Header styling */
header {
    background-color: var(--primary-color);
    font-size: x-large;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

/* Section */
section {
    background-color: var(--secondary-color);
    padding: 10px;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border: 1px solid var(--text-color);
}

/* Footer */
footer {
    text-align: center;
    font-size: 0.9em;
    color: var(--text-color);
}
